*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --main-font: "Oswald", sans-serif;
}

input,
select {
  font-family: var(--main-font);
  font-size: 15px;
}

.body,
h1 {
  margin: 0;
}

body {
  padding-bottom: 20px;
}

.container {
  width: 50vw;
  padding: 60px;
  font-size: 1rem;
  font-family: var(--main-font);
}

.form-control {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.input-label {
  font-size: 20px;
  padding: 5px 0;
}

.input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px 8px;
}
